@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined');

/* src/index.css */
@import 'tailwindcss';

@theme {
  --color-primary: #3A7CA5;
  --color-background-light: #F8F6F6;
  --color-background-dark: #221610;
  --color-accent-blue: #E6F0FA;
  --color-accent-green: #E8F5E9;
  --font-display: "Public Sans", sans-serif;
}

body {
  font-family: 'Public Sans', sans-serif;
}

/* Your other custom CSS goes here */

a.active hr {
  display: block;

}

::-webkit-scrollbar {
  display: none;
}

/* Hero Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-hero {
  animation: fadeIn 1s ease-out;
}

.zoom-in {
  animation: zoomIn 1.2s ease-out;
}

@media (max-width:640px) {
  a.active {
    background-color: black;
    color: white
  }
}